@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import 'primeicons/primeicons.css';

$font-family: 'Rajdhani', sans-serif;

$fontsize-title: 40px;
$fontsize-subtitle: 20px;

$blue: #22A7F0;
$purple: #BF55EC;
$pink: #F62459;
$yellow: #F7CA18;
$orange: #F89406;
$green: #2ECC71;

:root {
    --blue-color: #22A7F0;
    --purple-color: #BF55EC;
    --pink-color: #F62459;
    --red-color: #f62424;
    --yellow-color: #F7CA18;
    --orange-color: #F89406;
    --green-color: #2ECC71;

    --font: 'Rajdhani',
        sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgb(26, 27, 30);
    color: white;
    margin: 0;
    height: 100vh;
}

#app {
    height: inherit;
    display: grid;
    grid-template-rows: 13% 2% 1fr;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-weight: 600;
    font-size: $fontsize-title;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-weight: 400;
    font-size: $fontsize-subtitle;
}